<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav>
    {% if username.is_authenticated %}
    <span>{{username}}</span> |
    {% endif %}

    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/post">Post</a> |
    {% if not username.is_authenticated %}
    <a href="/user/login">Login</a> |
    <a href="/user/register">Register</a> |
    {% endif %}
    {% if username.is_authenticated %}
    <a href="/user/logout">Logout</a> |
    {% endif %}
    <a href="/admin">Admin</a>
  </nav>
  <hr />
  {% block content %}{% endblock %}
</body>

</html>