<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Page</title>
</head>

<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/posts">Posts</a>
  </nav>
  <hr>
  <h1>This is My Post Page</h1>
  <p>Welcome to My Webpage</p>

  <ul>
    <li>
      <p>This is the Post About Java</p>
    </li>
    <li>
      <p>This is the Post About Python</p>
    </li>
    <li>
      <p>This is the Post About Django</p>
    </li>
    <li>
      <p>This is the Post About Javascript</p>
    </li>
  </ul>
</body>

</html>